img.logo-serge {
  height: auto;
  max-width: 12rem;
}

.navbar-brand {
  font-size: 2.1rem;
}

.lead {
  font-size: 1rem;
  font-weight: 400;
}

span.lead {
  font-size: 1.8rem;
}

.orange-serge {
  font-weight: 700;
}

.branding-sink {
  align-items: center;
  background: rgba(255, 255, 255, 0.877);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: .3rem 3rem;
  position: absolute;
  width: 100%;
}

.branding-sink p {
  color: #343a40;
  margin: 1rem;
  text-align: left;
}

header.masthead {
  background-position: center center;
  padding: 13rem 0;
}

.header-intro {
  padding-bottom: 1rem;
}

p.intro-first-paragraph {
  padding-top: 1rem;
}

.showcase .our-story-img-mobile,
.our-team-img-mobile {
  display: none;
}

.showcase .showcase-img {
  min-height: 30rem;
}

.call-to-action {
  background: url(../img/bg-cta.jpg) no-repeat center center;
  background-size: cover;
}

.btn-cta-bottom-container {
  margin: 13rem auto 0;
}

a.btn.btn-info.btn-lg.btn-cta-bottom {
  margin-bottom: -8rem;
}

a.btn.btn-info.btn-lg.btn-cta-bottom:nth-child(2) {
  margin-left: 1rem;
}

/* 767px */
@media screen and (max-width: 47.9375rem) {
  .showcase .showcase-text {
    padding: 1.5rem;
  }

  .call-to-action {
    padding-top: 0;
    padding-bottom: 0;
  }

  a.btn.btn-info.btn-lg.btn-cta-bottom {
    margin-bottom: 1rem;
  }
}

/* 700px */
@media screen and (max-width: 43.75rem) {
  .branding-sink {
    flex-flow: column;
  }

  .branding-sink p {
    font-size: .8rem;
    text-align: center;
  }

  .showcase .showcase-img {
    min-height: 0;
  }

  .showcase .our-story-img-mobile,
  .our-team-img-mobile {
    display: block;
    height: auto;
    width: 100%;
  }

}

/* 490px */
@media screen and (max-width: 30.625rem) {
  .btn-group-lg>.btn, .btn-lg {
    padding: .1rem .4rem;
    font-size: 0.95rem;
    line-height: 1.2;
}
a.btn.btn-info.btn-lg.btn-cta-bottom {
  margin-bottom: -3.5rem;
}
}

/* 345px */
@media screen and (max-width: 21.56rem) {
  header.masthead h1 {
    font-size: 1.8rem;
  }

  span.lead {
    font-size: 1.3rem;
  }
}